{% extends "index.html" %}

{% block content %}
<div class="center_title_bar">{{ product.name }}</div>
    
    	<div class="prod_box_big">
        	<div class="top_prod_box_big"></div>
            <div class="center_prod_box_big">            
                 
                 <div class="product_img_big">
                     <a href="#" title="header=[Zoom] body=[&nbsp;] fade=[on]"><img src="{{ product.image_file.image.url }}" alt="" title="" border="0" /></a>
                 </div>
                     <div class="details_big_box">
                         <div class="product_title_big">{{ product.name }}</div>
                         <div class="specifications">
                             Availability: <span class="blue">{{ product.availability }}</span><br />

                             Description: <span class="blue">{{ product.description }}</span><br />
                            
                             Brand: <span class="blue">{{ product.brand }}</span><br />
                             
                             Published on: <span class="blue">{{ product.pub_date }}</span><br />
                            
                         </div>
                         <div class="prod_price_big"><span class="price">Price: {{ product.price }}$</span></div>
                         
                {% if is_logged %}
                {% if product.availability > 0 %}
                <form name="add{{ product.id }}" action="/products/add_to_cart/" method="POST">
                    {% csrf_token %}
                    <a href="javascript: submitform()"><img src="{{ STATIC_URL }}/images/cart.gif" alt="" title="" border="0" class="addtocart" />add to cart</a>
                    <input type="hidden" name="id_of_product" value="{{ product.id }}">
                    <input type="hidden" name="id_of_user" value="{{ current_user.id }}">
                </form>
                <script type="text/javascript">
                    function submitform() {
                        document.add{{ product.id }}.submit();
                    }
                </script>
                {% endif %}
                {% endif %}
                     </div>                        
            </div>
            <div class="bottom_prod_box_big"></div>                                
        </div>
{% endblock %}
